body {
    background-image: linear-gradient(
        180deg,
        #89BB40 10%,
        #0A3150 50%,
        #EF4224 95%

    );
    margin: 0;
    min-height: 100vh;
    width: 100%;
}

img {
    height: 300px;
    margin: 15px 0;
    width: 300px;
}

main{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
}

main > section button {
    
    background-color: #D2DFEC;
    border-radius: 4;
    color: black;
    cursor: pointer;
    font-family: EuclidBold;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.6px;
    line-height: px;
    padding: 9px 23px;
    text-transform: uppercase;
}


#coluna {
    float: left;
    width: 33.33%;

}


#detalhes-container > li {
    align-items: baseline;
    display: flex;
    
}

#detalhes-container > li p {
    color: white;
}
#botao {
text-align: center;
}